TAL_INT_GIT/services/CustomerMaster_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustomerMaster"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="getCustomerDataRequest"
				type="tns:request">

			</xsd:element>
			<xsd:element name="getCustomerDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="request">
				<xsd:sequence>
					<xsd:element name="zdate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="ztime" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getCustomerDataRequest">
		<wsdl:part name="parameters" element="tns:getCustomerDataRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCustomerDataResponse">
		<wsdl:part name="parameters" element="tns:getCustomerDataResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="CustomerMasterPortType">
		<wsdl:operation name="getCustomerData">
			<wsdl:input message="tns:getCustomerDataRequest"></wsdl:input>
			<wsdl:output message="tns:getCustomerDataResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CustomerMasterBinding"
		type="tns:CustomerMasterPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCustomerData">
			<soap:operation
				soapAction="http://www.talend.org/service/getCustomerData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CustomerMaster">
		<wsdl:port name="CustomerMasterPort" binding="tns:CustomerMasterBinding">
			<soap:address location="http://localhost:8090/services/CustomerMaster" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>