TAL_INT_GIT/services/SOAP_SAP_PO_Details_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SOAP_SAP_PO_Details"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="SOAP_SAP_PO_DetailsOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SOAP_SAP_PO_DetailsOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
            <xsd:complexType name="request"></xsd:complexType>
        </xsd:schema>
	</wsdl:types>

	<wsdl:message name="SOAP_SAP_PO_DetailsOperationRequest">
		<wsdl:part name="parameters" element="tns:SOAP_SAP_PO_DetailsOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SOAP_SAP_PO_DetailsOperationResponse">
		<wsdl:part name="parameters" element="tns:SOAP_SAP_PO_DetailsOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SOAP_SAP_PO_DetailsPortType">
		<wsdl:operation name="SOAP_SAP_PO_DetailsOperation">
			<wsdl:input message="tns:SOAP_SAP_PO_DetailsOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SOAP_SAP_PO_DetailsOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SOAP_SAP_PO_DetailsBinding" type="tns:SOAP_SAP_PO_DetailsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SOAP_SAP_PO_DetailsOperation">
			<soap:operation soapAction="http://www.talend.org/service/SOAP_SAP_PO_DetailsOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SOAP_SAP_PO_Details">
		<wsdl:port name="SOAP_SAP_PO_DetailsPort" binding="tns:SOAP_SAP_PO_DetailsBinding">
			<soap:address location="http://localhost:8090/services/SOAP_SAP_PO_Details" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>